.detailfilm {
    width: 1200px;
    margin: 30px auto;
    display: flex;

    .image {
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        height: 100%;
    }

    .content {
        height: 100vh;
        overflow-y: auto;
        flex-grow: 1;
        padding: 10px 20px;
        box-sizing: border-box;
        .boxDate span {
            background-color: #eb1689;
            color: white;
            border: 1px solid #f29438;
            padding: 5px 10px;
            font-weight: 500;
            margin: 8px;
            border-radius: 15px;
        }
        .boxDate span:hover{
            color: black;
        }
    }

}