
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }

.Films{
    width: 1200px;
    margin: auto;

    .btnMovie{
        display: flex;
        justify-content: center;

        .btnShowing{
            
        }
    }
}