.Slide {
margin: 0;
padding: 0;
box-sizing: border-box;
    .card{

        height: 650px;
        max-width: 100%;
        // flex-basis: 45%;
        // max-width: 100%;

        img{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            object-fit: contain;

            // background-size: cover;
            // width: 100%;
            // height: 650px;
        }
    }
    .slick-prev,
    .slick-next {
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: rgb(219, 158, 168);
        z-index: 100;
        border-radius: 40px;
        margin: 30px;
    }
}