
a {
    text-decoration: none;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-weight: 300;
}

.mainSize {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 50px auto 0;   
    .row{
        // Base styles
        display: inline-block;
    .card {
        display: flex;
        justify-content: center;
        float: left;
        margin: 0px 10px 20px 10px;

        .wrapper {
            background-color: white;
            width: 280px;
            height: 450px;
            position: relative;
            overflow: hidden;
            box-shadow: 0 19px 38px rgba(black, 0.3), 0 15px 12px rgba(black, 0.2);
            
            .imgPoster{
                background-size: cover;
                width: 280px;
                min-height: 450px;
            }
            
            &:hover {
                .data {
                    transform: translateX(0);
                }
            }
        }

        .data {
            position: absolute;
            bottom: 0;
            width: 100%;
            transform: translateX(calc(70px + 1em));
            transition: transform 0.3s;

            .content {
                padding: 1em;
                position: relative;
                z-index: 1;
            }
        }

        .author {
            font-size: 18px;
            margin-bottom: 50px;
            text-align: center;
        }

        .title {
            margin-top: 10px;
        }

        .text {
            height: 70px;
            margin: 0;
        }
    }

    // First example styles

    // Second example styles
    .example-2 {

        .wrapper{
            &hover::imgPoster{
                opacity: 0.5;
            }

            .data {
                color: black;
                transform: translateX(calc(100px + 12em));
    
                .content{
                    .textShort {
                        a {
                            color: white;
                        }
                    }
            
                    .button {
                        display: block;
                        width: 140px;
                        margin: 2em auto 1em;
                        text-align: center;
                        font-size: 16px;
                        color: white;
                        line-height: 1;
                        position: relative;
                        font-weight: 700;
            
                        &::after {
                            content: '\2192';
                            opacity: 0;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translate(0, -50%);
                            transition: all 0.3s;
                        }
            
                        &:hover {
                            &::after {
                                transform: translate(5px, -50%);
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        
        
        
    }
}
}