.footer {
    background-color: #2c2d31;
    background: url(../../Image/Footer/footer.png);
    background-size: cover;
    color: #aeaeae;

    .mainsize {
        width: 1200px;
        margin: auto;
    }

    .form-footer {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;

        .footer-content {
            width: 33%;
            padding: 10px;

            h1 {
                font-size: 16px;
                color: #eb1689;
                margin: 11px auto;
            }

            a {
                margin-right: 6px;
            }

            p,
            b {
                font-size: 16px;
                text-transform: capitalize;
                color: white;
                margin-bottom: 11px;
            }
        }

        .side3 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-left: 4px solid pink;

            a {
                text-decoration: none;
                width: 45%;
                padding: 3px;
                margin-bottom: -11px;
            }

            .nhantin {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 11px;
                position: relative;
                img{
                    width: 35px;
                }
                span {
                    font-size: 12px;
                    text-align: center;
                    position: absolute;
                    top: 18px;
                    right: 10px;
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
    }

    .form-footer .side3 a :hover {
        text-decoration: underline;
    }
}